header {
    z-index: 2;
    position: fixed;
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    font-size: 3em;
    padding-left: 2%;
    align-items: center;
    color: white;
    border-bottom: solid 1px;
}