footer {
    z-index: 2;
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: solid 1px;
}