<div class="game">
    <ng-container *ngIf="content=='new_player'"></ng-container>
    <app-new-player (newCurrentEvent)="switchGameContent($event)"></app-new-player>
    <ng-container *ngIf="content=='player_recap'"></ng-container>
    <app-player-recap (newCurrentEvent)="switchGameContent('player_recap')"></app-player-recap>
</div>