    .new_player_name {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 200px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        border: solid 5px;
        border-radius: 10px;
        padding: 20px;
    }
    
    label {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .com {
        font-size: 0.8em;
        margin-left: 5px;
    }
    
    .name_input {
        margin-top: 3px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.8em;
    }
    
    .submit_player {
        display: flex;
        justify-content: end;
    }
    
    .submit_player button {
        margin-top: 20px;
        margin-right: 15px;
        font-size: 1.2em;
        border-radius: 8px;
    }