<div class="new_player_name">
    <form #form="ngForm" (submit)="submit(form)">
        <div>
            <label for="player_name">Choose a player name : </label>
            <span class="com">(3 to 12 characters)</span>
            <input type="text" class="name_input" name="player_name" id="player_name" ngModel>
        </div>
        <div class="submit_player">
            <button type="submit" class="button ok">Ok</button>
            <button class="button cancel" (click)="switchContent('main_menu')">Cancel</button>
        </div>
    </form>
</div>