.main_menu {
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

button {
    margin-bottom: 20px;
    font-size: 3.7em;
    border: solid 5px;
    padding: 20px;
    border-radius: 20px;
}