.confirmation {
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%, -20%);
    font-size: 2.4em;
}

.recap {
    position: absolute;
    display: flex;
    flex-direction: row;
    border: solid 4px;
    border-radius: 8px;
    width: 300px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 2em;
}

.recap_label {
    width: 50%;
    margin-left: 15px;
}

.recap_data {
    color: yellow;
    width: 50%;
    text-align: right;
    margin-right: 20px;
}

.ok {
    position: absolute;
    bottom: 20%;
    right: 50%;
    font-size: 1.5em;
    width: 60px;
    transform: translate(50%, -20%);
}