<div class="confirmation">New player created !</div>
<div class="recap">
    <div class="recap_label">
        <p>Name :</p>
        <p>Level :</p>
        <p>Hp Max :</p>
        <p>Attack :</p>
        <p>Defense :</p>
    </div>
    <div class="recap_data">
        <p>{{player.name}}</p>
        <p>{{player.lvl}}</p>
        <p>{{player.maxHp}}</p>
        <p>{{player.atk}}</p>
        <p>{{player.def}}</p>
    </div>
</div>
<button class="button ok">Ok</button>