<app-header></app-header>
<ng-container *ngIf="current=='main_menu'">
    <app-main-menu (newCurrentEvent)="switchContent($event)"></app-main-menu>
</ng-container>
<ng-container *ngIf="current=='new_player'">
    <app-new-player (newCurrentEvent)="switchContent($event)"></app-new-player>
</ng-container>
<ng-container *ngIf="current=='credit'">
    <app-credit (newCurrentEvent)="switchContent($event)"></app-credit>
</ng-container>
<ng-container *ngIf="current=='player_recap'">
    <app-player-recap></app-player-recap>
</ng-container>
<app-footer></app-footer>