<div class="credits">
    <div class="credits_titles">
        <p>Title :</p>
        <p>Version :</p>
        <p>Author :</p>
        <p>Year :</p>
    </div>
    <div class="credits_infos">
        <p>My first RPG</p>
        <p>2.0</p>
        <p>Lymih</p>
        <p>2022</p>
    </div>
</div>
<button class="button back_menu_button" (click)="switchContent('main_menu')">Back to menu</button>