.credits {
    position: absolute;
    color: white;
    border: solid 3px;
    border-radius: 8px;
    width: 300px;
    height: 310px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
}

.credits_titles {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.credits_titles p {
    margin-left: 20px;
}

.credits_infos p {
    margin-right: 20px;
    color: rgb(94, 120, 235);
    font-weight: bold;
}

.credits_infos {
    width: 60%;
    text-align: right;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 30px;
}

.back_menu_button {
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translate(-50%, 25%);
}