/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: black;
    color: white;
}

.button {
    background-color: black;
    color: white;
    border: solid 2px;
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(59, 86, 209);
}

.button:active {
    background-color: white;
    color: black;
}